{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <form method="post" action="{{ path('commercant.validFormAdd') }}">
            <div class="row">
                <fieldset>
                    <legend>Creer un produit (twig)</legend>

                    <div class="form-group">
                        <label for="nom">Nom :</label>
                        <input name="nom"  type="text" class="form-control" size="20" value="{{donnees.noms|default('')}}" />
                    </div>
                        {% if erreurs.nom is defined %}
                            <small class="error">{{erreurs.nom}}</small>
                        {% endif %}
                    <div class="form-group">
                        <label for="idTypeCommercant">Type de commercant :</label>
                        <select name="idTypeCommercant" class="form-control">
                            {% if  donnees.idTypeCommercant is not defined or donnees.idTypeCommercant is empty   %}
                                <option value="">Veuillez sélectionner un produit</option>
                            {% endif %}
                            {% for typeCommercant in typeCommercants %}
                                <option value="{{ typeCommercant.id }}"
                                        {% if donnees.idTypeCommercant is defined and typeCommercant.id == donnees.idTypeCommercant %}selected{% endif %}>
                                    {{ typeCommercant.noms }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                        {% if erreurs.idTypeCommercant is defined %}
                            <small class="error">{{erreurs.idTypeCommercant}}</small>
                        {% endif %}
                    <div class="form-group">
                        <label for="prix">Prix :</label>
                        <input class="form-control" name="prix"  type="text"  size="18"  value="{{donnees.prixLocation|default('')}}"/>
                    </div>
                        {% if erreurs.prix is defined %}
                            <small class="error">{{erreurs.prix}}</small>
                        {% endif %}

                    <div class="form-group">
                        <label for="prix">Date de location :</label>
                        <input name="date" class="form-control" type="text"  size="18" value="{{donnees.dateLocation|default('')}}"/>
                    </div>
                        {% if erreurs.date is defined %}
                            <small class="error">{{erreurs.date}}</small>
                        {% endif %}
                    <input type="hidden" name="token" value="{{ csrf_token('add_valid') }}">
                    <input type="submit" name="creerCommercant" value="créer" class="btn btn-primary" />
                </fieldset>
            </div>
        </form>
    </div>
{% endblock %}