{% extends "base.html.twig" %}
{% block body %}
    <form method="post" action="{{ path('commercant.validFormEdit') }}">
        <input type="hidden" name="id" value="{{ donnees.id }}">
        <input type="hidden" name="_method" value="PUT">

        <div class="row">
            <fieldset>
                <legend>Creer un commercant </legend>
                <label>Nom :
                    <input name="nom"  type="text"  size="18" value="{{donnees.noms|default('')}}" />
                    {% if erreurs.nom is defined %}
                        <small class="error">{{erreurs.nom}}</small>
                    {% endif %}
                </label>
                <label>Type de commercant :

                    <select name="idTypeCommercant">
                        {% if  donnees.idTypeCommercant is not defined or donnees.idTypeCommercant is empty   %}
                            <option value="">Veuillez sélectionner un type de commercant</option>
                        {% endif %}
                        {% for typeCommercant in typeCommercants %}
                            <option value="{{ typeCommercant.id }}"
                                    {% if donnees.idTypeCommercant is defined and typeCommercant.id == donnees.idTypeCommercant %}selected{% endif %}>
                                {{ typeCommercant.noms }}
                            </option>
                        {% endfor %}
                    </select>
                    {% if erreurs.typeProduit_id is defined %}
                        <small class="error">{{erreurs.typeProduit_id}}</small>
                    {% endif %}
                </label>
                <label>Prix
                    <input name="prix"  type="text"  size="18"  value="{{donnees.prixLocation|default('')}}"/>
                    {% if erreurs.prix is defined %}
                        <small class="error">{{erreurs.prix}}</small>
                    {% endif %}
                </label>
                <label>Date de location
                    <input name="date"  type="text"  size="18" value="{{donnees.dateInstallation|date("d/m/Y")|default('')}}"/>
                    {% if erreurs.date is defined %}
                        <small class="error">{{erreurs.date}}</small>
                    {% endif %}
                </label>
                <input type="submit" name="creerCommercant" value="créer" />
            </fieldset>
        </div>
    </form>
{% endblock %}