{% extends "/base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            <a href="{{ path('commercant.add') }}"> Ajouter un commercant </a>
            <table>
                <caption>Recapitulatifs des commercants</caption>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>nom</th>
                        <th>type</th>
                        <th>prix</th>
                        <th>date</th>
                        <th>opération</th>
                    </tr>
                </thead>
                <tbody>
                {% for commercant in data if data is not empty %}
                    <tr>
                        <td>{{commercant.id}}</td>
                        <td>{{commercant.noms}}</td>
                        <td>{{commercant.idTypeCommercant.noms | default("id Null")}}</td>
                        <td>{{commercant.dateInstallation | date("d/m/Y")}}</td>
                        <td>{{commercant.prixLocation}}</td>
                        <td>
                            <a href="{{ path('commercant.edit', {id: commercant.id}) }}">modifier</a>
                            <form action="{{ url('commercant.delete') }}" method="POST" class="delete">
                                <input type="hidden" name="token" value="{{ csrf_token('delete_valid') }}">
                                <input type="hidden" name="commercant_id" value="{{ commercant.id }}">
                                <input type="hidden" name="_method" value="DELETE">

                                <button type="submit">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr><td>Pas de commercants</td></tr>
                {% endfor %}
                <tbody>
            </table>
        </div>
    </div>


    <div class="modal fade" id="modal_delete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="delete_commercant">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function() {
            var supp;

            $(".delete").submit(function (e) {
                supp = $(this);
                e.preventDefault();
                $("#modal_delete").modal("show");
            })
            
            
            $("#delete_commercant").on("click", function () {
                supp[0].submit();
            })
        });

    </script>
{% endblock %}


