{% extends "/base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            <a href="{{ path('commercant.add') }}"> Ajouter un commercant </a>
            <table>
                <caption>Recapitulatifs des commercants</caption>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>nom</th>
                        <th>type</th>
                        <th>prix</th>
                        <th>date</th>
                        <th>opération</th>
                    </tr>
                </thead>
                <tbody>
                {% for commercant in data if data is not empty %}
                    <tr>
                        <td>{{commercant.id}}</td>
                        <td>{{commercant.noms}}</td>
                        <td>{{commercant.idTypeCommercant.noms | default("id Null")}}</td>
                        <td>{{commercant.dateInstallation | date("d/m/Y")}}</td>
                        <td>{{commercant.prixLocation}}</td>
                        <td>
                            <a href="{#}{ path('commercant.edit', {id: commercant.id}) }#}">modifier</a>
                            <form action="{{ url('commercant.delete') }}" method="POST">
                                <input type="hidden" name="token" value="{{ csrf_token('delete_valid') }}">
                                <input type="hidden" name="commercant_id" value="{{ commercant.id }}">
                                <input type="hidden" name="_method" value="DELETE">

                                <button type="submit">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr><td>Pas de commercants</td></tr>
                {% endfor %}
                <tbody>
            </table>
        </div>
    </div>
{% endblock %}