{% extends "/base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            <h1>Recapitulatifs des commercants</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>nom</th>
                        <th>type</th>
                        <th>date</th>
                        <th>prix</th>
                        {% if is_granted('ROLE_ADMIN') %}
                        <th>opération</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for commercant in data if data is not empty %}
                    <tr>
                        <td>{{commercant.id}}</td>
                        <td>{{commercant.noms}}</td>
                        <td>{{commercant.idTypeCommercant.noms | default("id Null")}}</td>
                        <td>{{commercant.dateInstallation | date("d/m/Y")}}</td>
                        <td>{{commercant.prixLocation}} €</td>
                        {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a class="btn btn-secondary" href="{{ path('commercant.edit', {id: commercant.id}) }}">modifier</a>
                            <form  action="{{ url('commercant.delete') }}" method="POST" class="delete">
                                <input type="hidden" name="token" value="{{ csrf_token('delete_valid') }}">
                                <input type="hidden" name="commercant_id" value="{{ commercant.id }}">
                                <input type="hidden" name="_method" value="DELETE">

                                <button class="btn btn-danger" type="submit">Supprimer</button>
                            </form>
                        </td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr><td>Pas de commercants</td></tr>
                {% endfor %}
                <tbody>
            </table>
            {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-primary" href="{{ path('commercant.add') }}"> Ajouter un commercant </a>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <h1>Nombre de commercant par type</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Nombre de commercant</th>
                <th>Pourcentage</th>
            </tr>
            </thead>
            <tbody>
            {% for commercant in typesCommercant if typesCommercant is not empty %}
            <tr>
                <td>{{commercant.noms}}</td>
                <td>{{commercant.count}}</td>
                <td>{{ ((commercant.count / nbCommercant) * 100) |round(1 , 'floor')}} %</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="modal fade" id="modal_delete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Suppression d'un commercant</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Etes-vous sûr de supprimer le commerçant ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="delete_commercant">Oui</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function() {
            var supp;

            $(".delete").submit(function (e) {
                supp = $(this);
                e.preventDefault();
                $("#modal_delete").modal("show");
            })
            
            
            $("#delete_commercant").on("click", function () {
                supp[0].submit();
            })
        });

    </script>
{% endblock %}


